<div class="ud-field">
  <label class="ud-label" [attr.for]="name">
    {{ label }}
    @if (required) {
      <span class="ud-label--required">*</span>
    }
  </label>
  <input
    [id]="name"
    [ngClass]="inputClasses"
    [attr.type]="type"
    [attr.name]="name || null"
    [attr.autocomplete]="autocomplete || null"
    [attr.placeholder]="placeholder || null"
    [value]="value"
    [disabled]="disabled"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />
  @if (showError) {
    <div class="ud-error">{{ errorMessage }}</div>
  }
</div>
