<aside class="sidebar" [class.collapsed]="collapsed">
  <div class="brand" [routerLink]="['/home']">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.73 18-8-14a.5.5 0 0 0-.97-.03l-8 14a.5.5 0 0 0 .44.73h16a.5.5 0 0 0 .53-.7Z"/><path d="M12 18v-6"/></svg>
  </div>

  <nav class="nav">
    @for (item of navItems; track item.link) {
      <a [routerLink]="item.link"
         routerLinkActive="active"
         class="nav-item">
        <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
        @if (!collapsed) {
          <span class="nav-label">{{ item.label }}</span>
        }
      </a>
    }
  </nav>
</aside>
