<div class="avatar-card">
  <div class="avatar-wrapper" [class.avatar--image]="!!imageUrl">
    <ng-container *ngIf="imageUrl; else initialsTpl">
      <img [src]="imageUrl" alt="User avatar" class="avatar-img" />
    </ng-container>
    <ng-template #initialsTpl>
      <div class="avatar-initials">{{ initials() }}</div>
    </ng-template>
  </div>
  <div class="avatar-camera">
    <label role="button" tabindex="0" [class.is-disabled]="disabled">
      <input class="file-input" type="file" accept="image/*" (change)="onFileSelected($event)" [disabled]="disabled" />
      <mat-icon>photo_camera</mat-icon>
     </label>
   </div>
</div>

