<app-section-title></app-section-title>

<div class="profile-page">
  <mat-card class="profile-card">
    <mat-tab-group class="ud-tabs" mat-stretch-tabs color="primary" (selectedTabChange)="onTabChanged($event)">
      <mat-tab label="Profile Information">
        <div class="tab-content">
          <app-profile-information
            [user]="user"
            [form]="form"
            [isLoading]="isLoading"
            (save)="save()"
            (avatarUpload)="onAvatarUpload($event)">
          </app-profile-information>
        </div>
      </mat-tab>

      <mat-tab label="Security">
        <div class="tab-content">
          <app-security [isLoading]="isLoading"></app-security>
        </div>
      </mat-tab>

      <mat-tab label="Notifications">
        <div class="tab-content">
          <app-notifications [isLoading]="isLoading"></app-notifications>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-card-actions align="end">
      <app-button
        icon="save_as"
        [label]="saveButtonText"
        [disabled]="!canSave"
        (btnClick)="save()">
      </app-button>
    </mat-card-actions>
  </mat-card>
</div>
